body,
html {
    width: 100%;
    height: 100%;
}

body,h1,h2,h3,h4,h5,h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.pac-container {
    z-index: 1051 !important;
}

.topnav {
    font-size: 14px; 
}

.icon {
    font-size: 14px;
    border-radius: 24px;
	margin-top:10px;
}

.list_icon {
    font-size: 10px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    padding: 1px 1px;
    margin: 1px 3px;
}

.list_title {
	font-size: 18px;
	font-style:bold;
	font-weight:bolder;
}

.list_head {
	padding-bottom:8px;
}

.list_rent {
	font-size: 15px;
	font-weight:800;
}

.list_subtitle {
	font-size: 15px;
	font-weight:500;
	color:#555;
}

.list_feature {
	font-style:italic;
	font-weight:300;
	font-size:14px;
	margin-left:9px;
	color:#777;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.split_container {
	width: 815px;
	padding: 10px;
}

.popform {
	margin-left:15px;
}

.new_address{
	width: 400px;
    float: left;
}

.map {
	margin-left: 425px;
    width: 350px;
	height:400px;
}

.top-logo {
    width: 50px;
    height: 50px;
    padding: 3px 0 3px 0;
    
}

.hide_field {
    display: none;
}

.login_valid {
	color: #dd0000;
	font-weight: 600;
}

.login {
	position: relative;
	padding-top: 10%;
	padding-bottom: 10%;
	align-content: center;
	margin: 0 28% 0 28%;
}

.row_data {
	margin-top:10px;
	min-height:300px;
}

.row_data  .data-none {
	font-style:italic;
	font-weight:300
}

.login > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.login > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .login {
        padding-bottom: 15%;
    }

    .login > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}
