<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>URListings</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="/welcome">URListings</a>
                    </li>
                    <li>
                        <img src="./img/meliora.jpg" class="top-logo"/>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li> 
                    <a href="#/account" class="account" id="account">Account</a>
                    </li>
                    <li>
                        <a href="/" id="logout">Sign out</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Header -->
    <div class="intro-header">
    </div>
	<div class="container">
		<div class="row col-lg-12" >
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#listings" aria-controls="listings" role="tab" data-toggle="tab">Listings</a></li>
				<li role="presentation"><a href="#myListings" aria-controls="myListings" role="tab" data-toggle="tab">My Posts</a></li>
			</ul>
		</div>
		<div class="row col-lg-12 tab-content">
				<div role="tabpanel" class="tab-pane active" id="listings">
					<div class="row_data">
						<span class="data-none">
							No data to display
						</span>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="myListings">
					<div>
						<button type="button" class="btn btn-info icon" data-toggle="modal" data-target="#new_entry"/>
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</div>
					<div class="modal fade" id="new_entry" role="dialog">
						<div class="modal-dialog">
						<div class="modal-content split_container">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
						</div>
						<div class="modal-body">
						<div class="new_address">
							<div id="send_message" class="alert alert-danger hide">
							</div>
						<form class="form-horizontal popform" id = "form_rental">
							<div class="form-group">
								<input type="text" class="form-control" id="title" name = "title" maxlength="40" placeholder="Title">
							</div>
							<div class="form-group">
								<input type="address" class="form-control" id="address" name = "address" placeholder="Address">
								<input type="hidden" id="latlong" name = "latlong"/>
								<input type="hidden" id="prop_id" name = "prop_id"/>
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="rent" name = "rent" placeholder="Rent($$$)">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="description" name = "description" placeholder="Description">
							</div>
							<div class="form-group">Amenities:</div>
							<div class="form-group">
								<input type="checkbox" value="Washer/Dryer" name="amenities"/><span>Washer/Dryer</span>
								<input type="checkbox" value="Pots/Pans" name="amenities"/><span>Fridge, Microwave</span>
								<input type="checkbox" value="Furnished" name="amenities"/><span>Furnished</span>
							</div>
							<div class="form-group">Rent includes:</div>
							<div class="form-group">
								<input type="checkbox" value="Electricity" name="rent_in"/><span>Electricity</span>
								<input type="checkbox" value="Water" name="rent_in"/><span>Water</span>
								<input type="checkbox" value="Gas" name="rent_in"/><span>Gas</span>
								<input type="checkbox" value="Internet" name="rent_in"/><span>Internet</span>
							</div>
							<div class="form-group ">
								<input type="button" class="btn btn-info" value="Submit" id="submit"/>
								<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel"/>
							</div>
						</form>
						</div>
						<div class="map" id="map"></div>
						</div>
						</div>
						</div>
					</div>
					<div class="row_data" id="item_set">
						<span class="data-none" id="empty_set">
							No data to display
						</span>
					</div>
					<div id="row_template" class="hide_field">
						<div class = "list_head">
							<span class="list_title" id="title_">$title</span>
							<button id="edit_" type="button" class="btn btn-info list_icon" data-toggle="modal" data-target="#new_entry"/>
								<span class="glyphicon glyphicon-pencil"></span>
							</button>
							<button type="button" class="list_icon btn btn-danger" id="delete_" data-target="delete"/>
								<span class="glyphicon glyphicon-remove"></span>
							</button>
						</div>
						<div>
							<span class="list_subtitle">Rent($):</span>
							<span class="rent" id="rent_">$rent</span>
						</div>
						<div>
							<span class="list_subtitle">Address:</span>
							<span class="list_feature" id="address_">$address</span>
						</div>
						<div>
							<span class="list_subtitle">Description:</span>
							<span class="list_feature" id="desc_">$desc</span>
						</div>
						<div>
							<span class="list_subtitle">Amenities:</span>
							<span class="list_feature" id="amenities_">$amenities</span>
						</div>
						<div>
							<span class="list_subtitle">Rent includes:</span>
							<span class="list_feature" id="rentin_">$rentin</span>
						</div>
						<hr/>
					</div>
				</div>
		</div>
	</div>
	
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/welcome">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; URListings 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
	<script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!--<script src="js/js-cookie/src/js.cookie.js"></script>-->
    <script src="js/room.js"></script>
    <!--<script src="js/cookie.js"></script>-->
</body>
</html>
