<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>URListings</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="css/sale.css" rel="stylesheet">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="/welcome">URListings</a>
                    </li>
                    <li>
                        <img src="./img/meliora.jpg" class="top-logo"/>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li> 
                    <a href="#/account" class="account" id="account">Account</a>
                    </li>
                    <li>
                        <a href="/" id="logout">Sign out</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Header -->
    <div class="intro-header">
        
    </div>

    <!-- Body -->
    <div class='container'>


        <div class="row col-lg-12" >
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#listings" aria-controls="listings" role="tab" data-toggle="tab">Listings</a></li>
                <li role="presentation"><a href="#myListings" aria-controls="myListings" role="tab" data-toggle="tab">My Posts</a></li>
            </ul>
        </div>
        <div class="row col-lg-12 tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="listings">
                <div class="row_data">
                    <table id="sale_table" class="table">
                        <tr><th colspan=3 id="table_title">Sales Information</th></tr>
                        <tr>
                            <td class="title" id="content_title">Title</td>
                            <td class="author" id="author_name">Author</td>
                            <td class="time" id="post_time">Time</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="myListings">
                <div>
                    <button type="button" class="btn btn-info icon" data-toggle="modal" data-target="#saleModal" id="test_button"/>
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <div class="user_data">
                    <h4>My Posts</h4>
                    <table id="user_table" class="table">
                        
                    </table>
                </div>

                    <!--
                    <div>
                         <input id="postB" type='button' value='Post'>
                    </div>
                    <div class='post-form'>

                        <input id="back" type='button' value="Back To List">
                        <p>Post form</p>
                        <form class='form-group'>
                            <div>
                                <p>Title:</p>
                                <input type='text' class='post-info' id='post_title' placeholder='title'>
                            </div>
                            <div>
                                <p>Content:</p>
                                <textarea rows="5" cols="50" class='post-info' id='post_content'>
                                </textarea>
                            </div>
                            <div>
                                <input type='button' class='post-info' id='submit1' value='Submit'>
                            </div>
                        </form>
                    </div>
                    -->

            </div>
        </div>

        <!-- Modal Dialog -->        
        <!-- new dialog -->
        <div class="modal fade bootstrap-dialog type-primary" id="saleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
                        <h4 class="modal-title" id="myModalLabel">New</h4>
                    </div>
                    <div class="modal-body">
                        <form role='form'>
                            <div class="form-group">
                                <p>Title:</p>
                                <input type='text' class='post-info' id='post_title' placeholder='title'>
                            </div>
                            <div class="form-group">
                                <p>Content:</p>
                                <textarea rows="5" cols="50" class='post-info' id='post_content'>
                                </textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- edit dialog -->
        <div class="modal fade bootstrap-dialog type-primary" id="saleModal2" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></button>
                        <h4 class="modal-title" id="myModalLabel">Edit</h4>
                    </div>
                    <div class="modal-body">
                        <form role='form'>
                            <div class="form-group">
                                <p>Title:</p>
                                <input type='text' class='post-info' id='edit_title' placeholder='title'>
                            </div>
                            <div class="form-group">
                                <p>Content:</p>
                                <textarea rows="5" cols="50" class='post-info' id='edit_content'>
                                </textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="edit_submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="contentModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="contentTitle"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="contentText"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        

        <div>
            <label id='valid_message' class='message'></label>
        </div>

    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/welcome">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; URListings 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-dialog.min.js"></script>
    <script src="js/js.cookie.js"></script>
    <script src="js/sale.js"></script>
    <script src="js/cookie.js"></script>
</body>
</html>
